{% extends "base.html" %}
{% load static %} 
{% block title %}Home{% endblock title%}

{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "images/banner/b1.jpg" %}" class="d-block w-100" alt="banner images">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/banner/b2.jpg" %}" class="d-block w-100" alt="banner images">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/banner/b3.jpg" %}" class="d-block w-100" alt="banner images">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/banner/b4.jpg" %}" class="d-block w-100" alt="banner images">
      </div>
    </div>
  </div>

{%endblock banner-slider %}

{% block information %}
<div class="container">
<div class="row bg-succes text-center p-5 text-dark border-bottom shadow">
<h1>Products</h1>
<small class="fs-5">Kerala Co-operative Milk Marketing Federation (KCMMF) was formed in 1980 as a state adjunct of the National Dairy Programme ‘Operation Flood’. It is a three-tiered organization. At the grassroots level MILMA has 3076 Anand model primary milk co-operative societies as on 31.03.2022 with 10.4 lakh local milk producing farmers as members. These primary societies are grouped under three Regional Co-operative Milk Producers’ Unions viz TRCMPU for Thiruvananthapuram region, ERCMPU for Ernakulam region and MRCMPU for Malabar region.  </small>
</div>
</div>
{% endblock information %}

{% block main-content %}

<div class="container">
  <h2 class="text-center">Products</h2>
  <br>
  <div class="container">
    <div class="main">
      <a href="{% url 'category' 'GH' %}">

        <div class="goodnessseccont text-center">
          <img src="{% static 'images/cow-ghee.png' %}" class="img-responsive center-block" alt="">
          <p class="mlkpro">Ghee</p>
      </div>
      </a>
      </div>
      
             
{% endblock main-content %}